*.pth
*.log*
wandb/**
*.cache/
*.pyc
.tox/**
explore.ipynb
*/__pycache__
scratchpad_*.ipynb
settings.json
data/.cache/
.venv/
.vscode/
venv/
.coverage
*/.DS_Store
*.DS_Store
*/.ipynb_checkpoints
*.lock
*.env
model_artifacts
.devcontainer/platform-config.json
.Rproj.user


tmp.ipynb
tmp.R
tmp.Rmd

*.RData
*.Rhistory
*.Rproj

# data directories (ignored because of their large size for now)
data/finetuning/
data/pretraining/
data/into_reading/
data/testsets/
