*.pth
*.log*
wandb/**
*.cache/
*.pyc
.tox/**
explore.ipynb
*/__pycache__
scratchpad_*.ipynb
settings.json
data/.cache/
.venv/
.vscode/
venv/
.coverage
*/.DS_Store
*.DS_Store
*/.ipynb_checkpoints
*.lock
!uv.lock
*.env
model_artifacts
.devcontainer/platform-config.json
.Rproj.user
results/*.pkl
*.ipynb
data/into_reading/
#*.csv
*.json
results/*.csv

.pytest_cache/

### Terraform specific ignores
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
# Uncomment this line if your tfvars contain sensitive data
# *.tfvars

# Ignore override files as they're usually used for local dev
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan files
*.tfplan

# cached credentials
token.pickle


# package files
dist/*
# SpecStory explanation file
.specstory/.what-is-this.md
