*.pth
*.log*
wandb/**
*.cache/
*.pyc
.tox/**
explore.ipynb
*/__pycache__
scratchpad_*.ipynb
settings.json
data/.cache/
.venv/
.vscode/
venv/
.coverage
*/.DS_Store
*.DS_Store
*/.ipynb_checkpoints
*.lock
*.env
model_artifacts
.devcontainer/platform-config.json
.Rproj.user
results/*.pkl
*.ipynb
data/into_reading/
